---
interface Props {
  data: any;
}

const { data } = Astro.props;
---

<div class="bg-white p-6 rounded-lg shadow-md md:w-[45%] w-full hover:bg-primary transition-all ease-in
duration-200 hover:text-white">
  <div class="flex items-center mb-4">
    <svg
      class="h-6 w-6 text-blue-500 mr-2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1l1.5-4h.5l1.5 4h-1z"></path>
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 3h18v18H3z"></path>
    </svg>
    <h2 class="text-lg font-bold">Dedicated Service</h2>
  </div>
  <p class="">
    Our team provides top-tier services to ensure your project's success with
    efficiency and expertise.
  </p>
</div>

<div
  class="p-6 rounded-lg shadow-md md:w-[45%] w-full text-white bg-primary hover:bg-secondary transition-all ease-in
  duration-200"
>
  <div class="flex items-center mb-4">
    <svg
      class="h-6 w-6 text-blue-500 mr-2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1l1.5-4h.5l1.5 4h-1z"></path>
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 3h18v18H3z"></path>
    </svg>
    <h2 class="text-lg font-bold">Unmatched Quality</h2>
  </div>
  <p>
    Every job is executed with attention to detail and a commitment to quality,
    no matter the scale.
  </p>
</div>

<div
  class="p-6 rounded-lg shadow-md md:w-[45%] w-full text-white bg-primary hover:bg-secondary transition-all ease-in
  duration-200"
 
>
  <div class="flex items-center mb-4">
    <svg
      class="h-6 w-6 text-blue-500 mr-2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1l1.5-4h.5l1.5 4h-1z"></path>
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 3h18v18H3z"></path>
    </svg>
    <h2 class="text-lg font-bold">Reliable Expertise</h2>
  </div>
  <p class="">
    With years of experience, our professionals bring expertise and reliability
    to every service provided.
  </p>
</div>
<div class="bg-white p-6 rounded-lg shadow-md md:w-[45%] w-full hover:bg-primary transition-all ease-in
duration-200 hover:text-white">
  <div class="flex items-center mb-4">
    <svg
      class="h-6 w-6 text-blue-500 mr-2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1l1.5-4h.5l1.5 4h-1z"></path>
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 3h18v18H3z"></path>
    </svg>
    <h2 class="text-lg font-bold">Exceptional Craftsmanship</h2>
  </div>
  <p class="">
    Our pride is in our craftsmanship. Each service is carried out with
    unparalleled quality and meticulous attention to detail, ensuring your
    complete satisfaction from start to finish.
  </p>
</div>
