<div class="py-14 text-center">
    <h2
    class="text-[22px] font-extrabold text-gray-900 sm:text-4xl"
    >Explore our palettes and let your favorite color find you.</h2>
    <div class="flex flex-wrap md:flex-row flex-col gap-6 justify-center my-4 w-full items-center">
      <a href="https://images.sherwin-williams.com/content_images/sw-pdf-sherwin-williams-colorc.pdf">
        <img
          src="/assets/img/SW-1.jpg"
          alt="Color Palette"
          width={250}
          height={2000}
        />
      </a>
      <a href="https://www.benjaminmoore.com/en-us/color-overview/color-palettes">
        <img
          src="/assets/img/bjm-1.jpg"
          alt="Color Palette"
          width={250}
          height={2000}
        />
      </a>
      <a
        href="https://www.behr.com/consumer/colors/paint/
"
      >
        <img
          src="/assets/img/behr-1.jpg"
          alt="Color Palette"
          width={280}
          height={250}
        />
      </a>
    </div>
  </div>